/*This isn't what you call "ORGANIZED"*/
em {
  color: cyan;
}
body {
  background-color: black;
  background-size: 100% 100%;
  font-family: monospace;
  color: white;
  text-align: left;
}
button:hover {
  cursor: pointer;
}
a {
  float: left;
}

.divBars {
  overflow: scroll;
  left: 10px;
  border: thin solid white;
  width: 33%;
  height: 275px;
  text-align: left;
  float: left;
}
.tab {
  float: left;
  border: 3px inset yellow;
  background: black;
  color: yellow;
}
.tab:hover {
  color: blue;
  border-color: blue;
}

.sItem {
  color: white;
  font-family: monospace;
  font-weight: bold;
  background-image: url(../images/store-item-bg.jpeg);
  width: 100%;
  font-size: 20px;
  height: 75px;
  text-align: center;
  border: thin solid green;
}
.sItem::after {
  content: "";
  clear: both;
}
.invis {
  border-color: black;
}

#start {
  color: cyan;
  text-align: center;
}
#counter {
  text-align: center;
}
#Dollar {
  width: 75px;
  height: 125px;
  color: yellow;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  background-color: black;
  border: thick solid yellow;
  border-radius: 100px;
  font-family: serif;
}
#Dollar:hover {
  color: orange;
  border-color: orange;
  cursor: pointer;
}
#case {
  width: 75px;
  height: 125px;
  margin: auto;
}
#mBorder {
  background-image: url(../images/dollar.jpeg);
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 30px;
  text-align: left;
  color: black;
}
#tabs {
  padding: 5px;
  width: 100%;
  height: 25px;
}
#updates {
  text-align: left;
}
#add {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#News {
  width: 100%;
  text-align: left;
  border: thin solid blue;
}