/*I Finally organized the code----------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
em {
  color: cyan;
}
body {
  background-image: url(../images/body.jpeg);
  background-repeat: repeat-x repeat-y;
  font-family: 'Press Start 2P' ,cursive;
  color: white;
  text-align: left;
  overflow: hidden;
  user-select: none;
  font-size: 8px;
}
button:hover {
  cursor: pointer;
}
a {
  float: left;
}
img {
  image-rendering: pixelated; 
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 16px;
}
li {
  font-familY: monospace;
}
/*Top Style-----------------------------------------------------------------------------------------------------------------------------*/
#start {
  color: cyan;
  text-align: center;
}
#mBorder {
  background-image: url(../images/logo.jpeg);
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 30px;
  text-align: left;
  color: black;
}
#counter {
  text-align: center;
}
#resetButton {
  float: right;
  background-color: black;
  border: 5px inset green;
  color: green;
  font-family: "Press Start 2P", cursive;
}
#resetButton:hover {
  border: 5px outset red;
  color: red;
}
/*Styles for elements that are commonly used in all divs--------------------------------------------------------------------------------*/
.invis {
  border-color: black;
}
/*Styles for Store Div and all children-------------------------------------------------------------------------------------------------*/
.sItem {
  color: white;
  font-weight: bold;
  background-image: url(../images/store-item-bg.jpeg);
  width: 100%;
  font-size: 16px;
  height: 75px;
  text-align: center;
  border: thin solid green;
  font-family: 'Press Start 2P' ,cursive;
}
.sItem:hover {
  border: thick dashed red;
}
.price {
  font-size: 16px;
  color: #00ff04;
  float: left;
  height: 100px;
  width: 100px;
}
#store {
  background-color: black;
  overflow: scroll;
  left: 10px;
  border: thin solid white;
  width: 33%;
  height: 80vh;
  text-align: left;
  float: left;
  font-family: 'Press Start 2P' ,cursive;
}
#add {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 49.7%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*Middle of the Webpage----------------------------------------------------------------------------------------------------------------*/
#middle {
  background-color: black;
  width: 33%;
  height: 80vh;
  float: left;
  text-align: center;
  border: 1px solid white;
  overflow: scroll;
}
#Dollar {
  width: 75px;
  height: 125px;
  color: yellow;
  font-size: 50px;
  text-align: center;
  background-color: black;
  border: thick solid yellow;
  font-family: serif;
  font-family: 'Press Start 2P' ,cursive;
}
#Dollar:hover {
  color: orange;
  border-color: orange;
  cursor: pointer;
  font-family: 'Press Start 2P' ,cursive;
}
#case {
  width: 75px;
  height: 125px;
  margin: auto;
}
#stats {
  font-size: 16px;
  text-align: left;
}
#stats p{
  font-size: 10px;
}
/*Item Info----------------------------------------------------------------------------------------------------------------------------*/
#items {
  background-color: black;
  width: 33%;
  height: 80vh;
  float: left;
  text-align: left;
  border: 1px solid white;
  overflow: scroll;
}
